* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
nav .nav-link {
  color: black;
}
nav .zoka{
font-family: Poppins;
font-size: 36px;
font-weight: 400;
line-height: 54px;
letter-spacing: -0.095em;
text-align: left;

}

nav .youtubeRectangle {
  width: 105px;
  height: 50px;
  display: flex;
  /* left: 1163px !important;
  top: 22px; */
  border-radius: 22.5px;
  border: 2px solid #3f41a6;
  justify-content: center;
  align-content: center;
  align-items: center;
}
nav .playLogo {
  width: 20px;
  height: 20px;

  margin: auto;
  margin-left: 0;
}
nav .youtubeRectangle .youtubeText {
  color: #3f41a6;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin: auto;
  margin-right: 0;
  padding: 5px 10px;
  padding-right: 0px;
}
/* hero section */
.hero {
  width: 1440px;
  height: 814px;
  text-align: justify;
  margin-top: 50px;
}
.hero .leftSide h1 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 120px;
  text-align: justify;
  color: #1a093c;
}
.hero .leftSide p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
  margin: auto;
  color: #1a093ccc;
}
 section button {
  width: 266px;
  height: 80px;
  background-color: #3f41a6;
  border-radius: 50px !important;
  margin-top: 40px !important;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 5px 16px 0px rgba(155, 154, 154, 0.75);
  -webkit-box-shadow: 9px 5px 16px 0px rgba(155, 154, 154, 0.75);
  -moz-box-shadow: 9px 5px 16px 0px rgba(155, 154, 154, 0.75);
}
 section button a {
  text-decoration: none;
  color: rgb(248, 240, 240);
}
 section button .imgContaine {
  width: 20px;
  height: 25px;
  margin-left: 5px;
  background-color: rgb(224, 208, 238);
}
 section button img {
  width: 12px;
  height: 12px;
  border: 1px 0px 0px 0px;
  color: aliceblue;
}
/* right side  */
.hero .row .rightSide {
  width: 680px;
  height: 670px;
  border-radius: 20px 0px 0px 0px;
}
.hero .rightSide .firstRow img {
  width: 680px;
  height: 400px;
  top: 80px;
  left: 630px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}
.hero .rightSide .secondRow .pic1 {
  width: 279px;
  height: 250px;
  border-radius: 20px;
  opacity: 0px;
  overflow: hidden;
}

.hero .rightSide .secondRow .pic2 {
  
  overflow: hidden;
  border-radius: 20px;
  
}
.hero .rightSide .secondRow .pic2 img {
  width: 380px;
  height: 250px;
  top: 500px;
  left: 930px;
  gap: 0px;
  
  opacity: 0px;
  
  
}

/* second hero */
.secondHero {
  margin-top: 100px;
}

.secondHero .fRow .text h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #3f41a6;
}
.secondHero .fRow .text h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #1a093c;
}
.secondHero .fRow .text p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #1a093ccc;
}
/* characteristics section  */

.thirdHero {
  margin-top: 200px;
}

.thirdHero h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-top: 90px;
  color: #1a093c;
}
.thirdHero .container {
  margin-top: 40px;
}

.thirdHero .container .row .col h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #1a093c;
}
.thirdHero .container .row .col p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #1a093c;
}

/* card section */

.cardSection {
  margin-top: 200px;
}

.cardSection .container .row .card {
  width: 723px;
  height: 550px;

  gap: 0px;
  border-radius: 20px 20px;
  opacity: 0.5px;
  box-shadow: -7px 24px 33px 11px #00000026;
  margin-right: 15px;
  position: relative;
  top: 120px;
  left: -20px;
}
.cardSection .container .row .card .cardHead {
  width: 725px;
  height: 49.71px;
  top: 120px;
  left: 79px;
  gap: 0px;
  border-radius: 0px 20px 0px 0px;
  opacity: 0px;
  background-color: #f4f5f9;
  display: flex;
  justify-content: end;
  align-items: center;
}
.cardSection .container .row .card .cardHead div {
  width: 10px !important;
  height: 10.58px !important;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}
.cardSection .container .row .card .cardHead .c1 {
  background-color: #f96056;
}
.cardSection .container .row .card .cardHead .c2 {
  background-color: #fdbd45;
}

.cardSection .container .row .card .cardHead .c3 {
  background-color: #53e546;
  margin-right: 20px;
}
.cardSection .container .pictures {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardSection .container .pictures div {
  border-radius: 20px 20px;
  overflow: hidden;
}

.cardSection .container .pictures .pic1 img {
  width: 412px;
  height: 200px;
  top: 206px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}
.cardSection .container .pictures .pic2 img {
  width: 152px;
  height: 200px;
  top: 206px;
  left: 432px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}
.cardSection .container .pictures .pic3 img {
  width: 152px;
  height: 200px;
  top: 206px;
  left: 604px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}
.cardSection .container .pictures2 .pic1 img {
  width: 152px;
  height: 200px;
  top: 426px;
  left: 87px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}
.cardSection .container .pictures2 .pic2 img {
  width: 152px;
  height: 200px;
  top: 426px;
  left: 259px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
}
.cardSection .container .pictures2 .pic3 {
  margin-right: 0px;
  display: flex;
  justify-content: end;
}

.cardSection .container .pictures2 .pic3 img {
  width: 600px;
  height: 200px;
  top: 426px;
  left: 432px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  padding: 0px;
}
/* end of the card */
.cardSection .container .row .text {
}
.cardSection .container .row .text p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #1a093ccc;
}

.cardSection .container .row .text h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #1a093c;
}

.cardSection .container .row .text2 {
  width: 1440px;
  height: 253px;
  top: 488px;
  left: 193px;
  gap: 0px;
  opacity: 0px;
  background-color: #f6f5fb;
  display: flex;
  justify-content: end;
  align-items: center;
}
.cardSection .container .row .text2 div h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  margin: 20px;
}
.cardSection .container .row .text2 div p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 20px;
}

/* design section */
.design{
  margin-top: 200px;
}
.design {

}
.design .row .text h1{
font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 60px;
text-align: left;
color: #1A093C;


}
.design .row .text p{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color:#1A093C;

}

.design .row .pic1 h1 span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  
}
.design .row .pic1{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top:100px;
  left:200px;
 

}

.design .row .pic1 img{
  width: 300px;
  height: 400px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  

}
/* second picture */

.design .row .pic2 h1 span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  
}
.design .row .pic2{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top:-55px;
  left:480px;
  

}
.design .row .pic2 img{
  width: 300px;
  height: 400px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  

}
/* third picture */


.design .row .pic3 h1 span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  
}
.design .row .pic3{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top:-200px;
  left:100px;
  

}
.design .row .pic3 img{
  width: 300px;
  height: 400px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  

}
/* awesome section */
.awesome {
  margin-top: 150px;
}

.awesome .container h1{
  font-family: Poppins;
font-size: 60px;
font-weight: 600;
line-height: 90px;
text-align: left;
color: #1A093C;


}

.awesome .container p{
  font-family: Poppins;
font-size: 25px;
font-weight: 400;
line-height: 37.5px;
text-align: left;

}
.awesome .container .p1{
  margin-top: 30px;
}
.awesome .container .row .col img {
  width: 380px;
  height: 402px;
  top: 191px;
  left: 530px;
  gap: 0px;
  border-radius: 50px;
  opacity: 0px;
  
}
.awesome .container .row .col{
  margin-bottom: 15px;

  
}
/* start section */
.start {
  margin-top: 150px;
  position: relative;



}
.start .container {
  width: 1180px;
height: 600px;
top: 6447px;
left: 130px;
gap: 0px;
border-radius: 100px;
opacity: 0px;
background-color: #431898;
}
.start .container .row .final{
  padding: 10%;
}
.start .container .row .final p{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color:white;
  
}


.start .container .row .final h1{
  font-family: Poppins;
font-size: 64px;
font-weight: 600;
line-height: 96px;
text-align: left;
color:white;

}

.start .container .row .final button{
  width: 266px;
  height: 80px;
  background-color:white;
  border-radius: 50px !important;
  margin-top: 40px !important;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;

}

.start .container .row .final button a{
  text-decoration: none;
  color: black;
}
.start .container .row .final button .imgContaine {
  width: 20px;
  height: 25px;
  margin-left: 5px;
  background-color: rgb(171, 168, 174);

}
.start .container .row .imageholder {
  width: 568px;
  position: absolute;
  top:-100px;
  left:900px;
  
}
/* footer  */
footer{
  margin-top: 100px;
}
footer ul {
  list-style-type: none;
}
footer ul li{
  display: inline-block;
  padding: 10px;
  font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;



}
footer ul li a{
  color: #3C3842;

}

footer p{
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #3C3842;


}

